.clients {
  row-gap: 3em;
}

.client {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  position: relative;

  &__icon {
    border: 6px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -28px;
    left: 22px;
  }

  &__info {
    font-family: "Rajdhani", sans-serif;
    padding: 44px 28px 0;
    position: relative;
  }

  &__details {
    margin-top: 30px;
    color: #3e3f5e;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.4285714286em;

    span {
      margin-left: 1em;
    }
  }

  &__jobs {
    font-size: 0.75rem;
    font-weight: 700;
    margin: 3em 0;
    text-transform: uppercase;
  }

  &__name {
    font-size: 1.125rem;
    font-weight: 700;
  }

  &__meta {
    display: flex;
    // -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
    padding: 14px 0;
    border-top: 1px solid #eaeaf5;
  }

  .edit {
    color: #38a9ff;
    margin-right: 1em;
  }

  .delete {
    color: #c31818;
  }
}

.client__address {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 18em;
}

.search-filter {
  border-radius: 10px;
  background: white;
  padding: 1.5em 1.5em 0;
  justify-content: space-between;
  margin-bottom: 2.5em;

  select {
    display: inline-block;
    font-weight: 300;
    font-size: 13px;
    width: 100%;
    height: calc(2.25rem + 2px);
    // padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  &__input {
    flex-basis: 32%;
  }

  .list-orientation {
    margin-left: 1em;
    font-size: 36px;

    svg {
      margin-left: 10px;
    }
  }
}

@media (max-width: 768px) {
  .search-filter {
    &__input {
      flex-basis: 75%;
    }
  }
}
