@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

.toast.show {
  display: block;
  opacity: 1;
  min-width: 22em;
  position: absolute;
  right: 0;
}

.toast {
  font-family: "Inter", sans-serif;
  max-width: 350px;
  overflow: hidden;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  border-radius: 0.25rem;

  svg.success {
    font-size: 20px;
  }

  .success {
    color: #32d87f;
  }
}

.toast-close {
  // top: 20px;
  cursor: pointer;
  background: none;
  padding: 0;
  background-color: transparent;
  border: 0;
  color: #a4abc5 !important;
  // position: absolute;
  // right: 15px;

  &:focus {
    outline: none;
  }
}

.Toastify {
  position: absolute;
  z-index: 10;
  top: 3px;
  right: 3px;

  &__close-button {
    display: none;
  }
}

.toast-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 0.75rem;
  color: #7081b9;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  justify-content: space-between;
}

.toast-body {
  padding: 0.75rem;
}

.toast-title {
  color: #303e67;
  margin: 0;
}
