jobs:
  test:
    executor:
      name: node/default
      tag: "13.11"
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
      - run:
          name: Run tests
          command: |
            ./cc-test-reporter before-build
            npm run test  -- --coverage
            ./cc-test-reporter after-build --coverage-input-type clover --exit-code $?
  build:
    executor:
      name: node/default
      tag: "13.11"
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm run build
version: 2.1
orbs:
  node: circleci/node@3.0.0
workflows:
  test-build-deploy:
    jobs:
      - test
      - build:
          # filters:
          #   branches:
          #     only:
          #       - master
          requires:
            - test
