@import "./variables";

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;

  &--center {
    align-items: center;
  }
}

.grid {
  column-gap: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pagination {
  display: flex;
  float: right;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  margin: 0;
  margin-top: 2em;

  a {
    // background-color: #fff;
    // border: 1px solid #eaf0f9;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    display: block;
    line-height: 1.25;
    margin-left: 1em;
    padding: 0.5rem 0.75rem;
    position: relative;
  }

  li.active {
    a {
      background-color: #1c3fab;
      border-color: #1c3fab;
      color: #fff;
      z-index: 3;
    }
  }

  a:focus {
    outline: none;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.btn {
  background-color: transparent;
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.8125rem;
  line-height: 1.8;
  border-radius: 0.25rem;

  &--sm {
  }

  &--md {
  }

  &--primary {
    background-color: $dark-primary-color;
    // background-color: $primary-color;
    color: #fff;

    &:hover {
      background-color: $secondary-color;
    }
  }

  &--success {
  }

  &--link {
    background-color: $light-primary-color;
    color: $dark-primary-color;
    font-weight: 500;

    &:hover {
      background-color: $dark-primary-color;
      color: $light-primary-color;
    }
  }
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.71rem;
  line-height: 1.8;
  border-radius: 0.2rem;
}

.mobile {
  display: none;
}

.card {
  -webkit-box-shadow: 0px 2px 4px rgba(31, 30, 47, 0.03);
  box-shadow: 0px 2px 4px rgba(31, 30, 47, 0.03);
  margin-bottom: 24px;
  background-color: #fff;
  border: 1px solid #eceff5;
  background-clip: border-box;
  border-radius: 0.25em;

  &__header {
    background-color: #fff;
    border-bottom: 1px solid #eceff5;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    margin: 2px;

    &__title {
      text-transform: capitalize;
      line-height: 22px;
      font-size: 14px;
      font-weight: 500;
      margin: 6px 0 3px;
      color: #2c3652;
      text-shadow: 0 0 1px rgba(241, 245, 250, 0.1);
    }
  }

  &__body {
    padding: 1.25rem;
  }
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 77%;
  color: $form-invalid;
}

@media (max-width: $breakpoint-tablet) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .flex {
    flex-wrap: wrap;
  }

  .mobile {
    display: block;
  }

  .not-mobile {
    display: none;
  }
}

@media (max-width: $breakpoint-mobile) {
  .grid {
    grid-template-columns: 100%;
  }
}
