$breakpoint-tablet: 768px;
$breakpoint-tablet-pro: 1024px;
$breakpoint-mobile: 480px;

$light-primary-color: #cadefe;
$primary-color: #394f73;
$dark-primary-color: #0a357d;
$secondary-color: #00012c;
$tertiary-color: #f8ba2f;
$nursery-color: #f8d12e;

$form-invalid: #f5325c;
