@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Work+Sans:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap");
$breakpoint-tablet: 768px;
$breakpoint-tablet-pro: 1024px;
$breakpoint-mobile: 480px;
@import "_variables.scss";
@import "shared.scss";
@import "utilities.scss";
@import "../components/partner/app.scss";
