@import "./Addresses/address.scss";
@import "./clients/clients.scss";
.partner-app {
  font-family: "Roboto", sans-serif;

  .mobile-header {
    align-items: center;
    border-bottom: 1px solid #dee7ef;
    position: relative;
    padding: 1em 0.5em;
    display: none;
  }

  header {
    align-items: center;
    border-bottom: 1px solid #dee7ef;
    border-bottom-width: 1px;
    background: #fff;
    position: relative;
    padding: 0.5em 1.5em 0.3em 1.5em;
    margin-bottom: 2em;

    @keyframes slideout {
      from {
        left: -253px;
      }
      to {
        left: 0px;
      }
    }

    &.show {
      left: 0;
      animation: slideout 0.5s 1;
      visibility: visible;
    }

    .container {
      align-items: center;
      justify-content: space-between;
      margin: auto;
      width: 80%;
    }

    div:nth-of-type(2) {
      width: 20%;
    }
    .logo {
      margin-left: -10px;
      flex-basis: 20%;
    }
  }

  nav {
    flex-basis: 33%;

    ul {
      justify-content: space-between;
      list-style: none;
      text-transform: uppercase;
      font-family: Poppins, sans-serif;
      font-weight: 500;
      font-size: 14px;
      padding: 0;
    }

    .nav-link {
      color: $primary-color;
      cursor: pointer;
      position: relative;

      &:visited {
        color: $primary-color;
      }

      &.active {
        color: $secondary-color;
      }
    }
  }
}

.toggle-sidebar {
  color: #364044;
  display: none;

  &.hide-sidebar {
    color: $secondary-color;
  }
}

main {
  display: flex;
  margin: auto;
  margin-top: 2em;
  padding: 0 10px;
  width: 80%;
}

.sidebar {
  color: #fff;
  flex-basis: 20%;
  font-size: 14px;
  margin-right: 2em;

  &__container {
    background-color: #fbfbfb;
    border-radius: 8px;

    // background-color: #fff;
  }

  &__link {
    align-items: center;
    color: #4e5056;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    padding: 0.75em 0.75em;
    margin-top: 0.75em;
    // color: #3e3f5e;
    &:visited {
      color: #4e5056;
    }

    span {
      flex-basis: 80%;
    }
  }

  &__link.active {
    background-color: #4e5056;
    border-radius: 5px;
    font-weight: 500;

    // background-color: transparent;
    color: #fff;
  }

  &__navigations {
    border-top: 1px solid;
    border-color: #dcdfe6;
    margin-top: 2em;
    padding-top: 1.4em;
  }

  &__nav-icon {
    margin-right: 0.75rem;
    width: 1.25em !important;
  }
}

.sidebar-inner {
  color: #fff;
  flex-basis: 20%;
  font-size: 14px;

  &__link {
    color: #fff;
    align-items: center;
    display: flex;
    font-weight: 200;
    padding: 0.75em 0.75em;
    margin-top: 0.75em;

    &:visited {
      color: #fff;
    }
  }

  &__link.active {
    background-color: rgba(57, 94, 193, 1);
    border-radius: 5px;
    font-weight: 500;
  }

  &__subnav-icon {
    border-radius: 9999px;
    height: 0.5rem;
    margin-right: 1.15em;
    width: 1em;
  }
}

.bg-orange {
  background-color: #f78b00;
}

.bg-green {
  background-color: #91c714;
}

.bg-yellow {
  background-color: #fbc500;
}

.bg-red {
  background-color: #d32929;
}

.content {
  flex-basis: 100%;

  &__header {
    display: flex;
    padding-bottom: 15px;

    &__left {
      flex: 80% 1;
    }

    &__right {
      flex: 20%;
      text-align: right;
    }

    button {
      background-color: #1c3faa;
      border: 1px solid #1c3faa;
      color: white;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      border-radius: 0.2em;
      font-weight: 500;
      cursor: pointer;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .content {
    flex-basis: 100%;
  }

  .partner-app {
    .mobile-header {
      display: flex;
    }

    header {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 100vh;
      width: 80%;
      position: fixed;
      z-index: 5;
      top: 0;
      visibility: hidden;

      .logo {
        border-bottom: 1px solid #dee7ef;
        flex-basis: 100%;
        padding-bottom: 20px;

        svg {
          margin-top: 9px;
        }
      }
    }
  }

  main {
    margin-top: 1em;
    width: 100%;
    padding: 0;
  }

  .partner-app header .container {
    flex-wrap: wrap;
    width: 100%;
    nav {
      flex-basis: 100%;

      li {
        flex-basis: 100%;
        margin: 1em 0;
      }
    }
  }

  .sidebar {
    // visibility: hidden;
    z-index: 5;
    position: fixed;
    opacity: 0.99;
    top: 0;
    width: 18em;
    left: -253px;
    overflow: hidden;

    &__brand {
      display: none;
    }
  }

  @keyframes slideout {
    from {
      left: -253px;
    }
    to {
      left: 0px;
    }
  }

  .sidebar.show {
    left: 0;
    animation: slideout 0.5s 1;
  }

  .hide-sidebar {
    float: right;
  }

  header {
    margin-bottom: 1em;
  }

  .toggle-sidebar {
    display: block;
    font-size: 1.5em;
  }
}

@media (max-width: $breakpoint-tablet-pro) {
  .overlay.show {
    opacity: 0.6;
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: opacity 0.9s linear;
  }

  main {
    width: 100%;
  }

  .sidebar__container {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0;
    height: 100vh;
  }
}

.dropdown-menu {
  transition: visibility 0s linear 0s, opacity 0.2s 0s;
  visibility: hidden;
  opacity: 1;
  width: 13rem;
  left: 0px;
  top: 0;
  position: absolute;
  margin-top: 2.5rem;

  &.show {
    visibility: visible;
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 12px 24px;
  clear: both;
  font-weight: 400;
  color: #1d2c48;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-transform: none;
  cursor: pointer;

  svg {
    margin-right: 10px;
  }

  &:hover {
    background-color: rgba(248, 248, 252, 0.5);
  }
}

.dropdown-divider {
  height: 0;

  overflow: hidden;
  border-top: 1px solid #f1f5fa;
}
