.addresses {
  row-gap: 3em;
}

.address {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  font-family: "Rajdhani", sans-serif;
  position: relative;

  &__info {
    font-size: 1rem;
    padding: 0px 20px 0;
    min-height: 11em;
    position: relative;
  }

  &__details {
    margin-top: 30px;
    color: #3e3f5e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4285714286em;
  }

  &__jobs {
    font-size: 0.75rem;
    font-weight: 700;
    margin: 3em 0;
    text-transform: uppercase;
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
  }

  &__meta {
    display: flex;
    // -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
    padding: 20px;
    border-top: 1px solid #eaeaf5;
  }

  .edit {
    color: #7c7c7d;
    margin-right: 1em;
  }

  .delete {
    color: #c31818;
    cursor: pointer;
  }

  .default {
    bottom: 0;
    position: absolute;
    width: 90%;
  }

  &__row {
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    background-color: #fff;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 1.5em;
  }

  .client {
    &__avatar {
      color: #7b7979;
      font-size: 20px;
      flex-basis: 5%;
    }
  }

  .client__name {
    flex-basis: 20%;
  }

  .client__address {
    flex-basis: 30%;
  }

  .client__phone {
    flex-basis: 15%;
  }

  .client__view {
    flex-basis: 10%;
  }

  .client_more {
    flex-basis: 20%;
    margin-top: 0px;
  }
}

.client__address {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 18em;
}

.orientation-style {
  color: #364044;
  font-size: 2em;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .client__row {
    .client__name {
      flex-basis: 50%;
    }

    .client__phone {
      flex-basis: 30%;
    }

    .client__address,
    .client__avatar {
      display: none;
    }

    .client__view {
      display: none;
    }

    .client__more {
      flex-basis: 5%;
    }
  }
}
